.ratings {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  background: $lightGrayishMagenta;
  border-radius: 0.4rem;

  &__stars {
    margin-bottom: 1rem;
  }

  &__text {
    color: $veryDarkMagenta;
    font-weight: 700;
  }
}