html {
  font-size: 15px;
  box-sizing: border-box;
  max-width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1.5rem;
  font-family: "Spartan", sans-serif;
  background-color: white;
  background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

@media (min-width: 64em) {
  body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 10rem;
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
  }
}

h1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 2rem;
  color: #502050;
  line-height: 1.15;
}

@media (min-width: 64em) {
  h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: #937b92;
  line-height: 1.5;
}

header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 64em) {
  header {
    grid-area: 1 / 1 / 1 span / 1 span;
    text-align: left;
    width: 80%;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 64em) {
  .ratings {
    grid-area: 1 / 2 / 1 span / 1 span;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  background: #f7f2f7;
  border-radius: 0.4rem;
}

.rating__stars {
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .rating__stars {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.rating__text {
  color: #502050;
  font-weight: 700;
}

@media (min-width: 64em) {
  .rating {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 0;
    padding: 1.2rem;
  }
  .rating:nth-child(2) {
    margin-left: 10%;
  }
  .rating:nth-child(3) {
    margin-left: 20%;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {
  .reviews {
    grid-area: 2 / 1 / 1 span / 2 span;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
  }
}

.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 3rem 2rem 2rem 2rem;
  background-color: #502050;
  border-radius: 0.4rem;
  height: fit-content;
}

@media (min-width: 64em) {
  .review {
    margin-right: 1rem;
  }
  .review:nth-child(2) {
    margin-top: 2rem;
  }
  .review:nth-child(3) {
    margin-top: 4rem;
  }
}

.review__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.review__header__image {
  border-radius: 50%;
  margin-right: 2rem;
  height: 3rem;
}

.review__header__text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.review__header__name {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.review__header__verified {
  margin: 0;
  color: #ee68a4;
  font-size: 1rem;
}

.review__text {
  margin-bottom: 0;
  color: #f7f2f7;
  font-weight: 400;
}

@media (min-width: 64em) {
  .review__text {
    font-size: 0.92rem;
  }
}
/*# sourceMappingURL=style.css.map */